.main {
	/* width: 95%; */
	/* position: relative; */
	margin-top: 2rem;
	/* left: 3rem; */
	padding-left: 1rem;
	padding-right: 1.5rem;
}
#myname {
	font-family: Lato;
	color: #212121;
	
}
img {
	width: 100%;
	height: 100%;
}

@media (min-width: 768px) {
    #intro{
		padding-left: 1.3rem;
	}
  }
p{
	font: italic 2em Georgia, serif;
	font-size: 1.1rem;
	margin-bottom: 1rem;
}

.post-title {
	font-size: 2.5rem;
}

article{
	
	
}
article p strong{
	font-size: 1.2rem;
}

li {
	list-style: disc;
	margin-bottom: 1rem;
	font-size: 1rem;
}
ul{
	padding-left: 2.3rem;
}
.layui-anim {
	animation-duration: 1s;
	-webkit-animation-duration: 1s
}


